@import "tailwindcss";

@layer base {
  body {
    background-color: #09090b; /* Deep zinc black */
    color: #f4f4f5; /* Off-white text */
    overflow-x: hidden;
    ::selection {
  background-color: #3f3f46;
  color: #ffffff;
}
  }
}

/* Custom smooth scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}